<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
    <body>
        <%- include('../partials/header.ejs', { userID: userID }) %>

        <!-- Errors -->
        <!-- prettier-ignore -->
        <% if(errors.find(el => el.type === 'generic')) { %> <%- include('../partials/error.ejs', { errors: errors }) %> <% } %>

        <!-- If it is admin -->
        <!-- pretiter-ignore -->
        <% if(isAdmin) { %>
        <!-- pretiter-ignore -->
        <%- include('./admin/index.ejs', { users: users, images: images }) %>
        <!-- pretiter-ignore -->
        <% } else { %>
        <!-- If it is not admin -->
        <!-- pretiter-ignore -->
        <%- include('./user/index.ejs', { images: images, errors: errors }) %>
        <!-- pretiter-ignore -->
        <% } %>
    </body>
</html>
