<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
    <body>
        <%- include('../partials/header.ejs', { userID: userID }) %>

        <main class="pb-6">
            <div class="custom-container grid gap-4">
                <% if(passwords.length === 0) { %>
                <h2 class="text-xl">No password requests yet!</h2>
                <% } %>

                <!-- Passwords grid -->
                <% passwords.forEach((password) => { %>
                <div class="overflow-y-hidden rounded-lg border">
                    <div class="overflow-x-auto">
                        <table class="w-full">
                            <thead>
                                <tr
                                    class="bg-blue-600 text-left text-xs font-semibold uppercase tracking-widest text-white"
                                >
                                    <th class="px-5 py-3">Username</th>
                                    <th class="px-1 py-3"></th>
                                </tr>
                            </thead>
                            <tbody class="text-gray-500">
                                <tr>
                                    <td
                                        class="border-b border-gray-200 bg-white px-5 py-5 text-sm"
                                    >
                                        <p class="whitespace-no-wrap">
                                            <%= password.username %>
                                        </p>
                                    </td>
                                    <td
                                        style="width: 400px"
                                        class="border-b border-gray-200 bg-white text-sm"
                                    >
                                        <div class="flex items-center">
                                            <form
                                                class=""
                                                action="http://localhost:4000/password-requests"
                                                method="POST"
                                            >
                                                <input
                                                    type="hidden"
                                                    name="id"
                                                    value="<%= password._id %>"
                                                />
                                                <input
                                                    type="hidden"
                                                    name="_csrf"
                                                    value="<%= csrfToken %>"
                                                />
                                                <button
                                                    type="submit"
                                                    class="w-full text-white bg-indigo-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
                                                >
                                                    Reset passwod
                                                </button>
                                            </form>
                                            &nbsp;
                                            <form
                                                class=""
                                                action="http://localhost:4000/password-requests/remove"
                                                method="POST"
                                            >
                                                <input
                                                    type="hidden"
                                                    name="id"
                                                    value="<%= password._id %>"
                                                />
                                                <input
                                                    type="hidden"
                                                    name="_csrf"
                                                    value="<%= csrfToken %>"
                                                />
                                                <button
                                                    type="submit"
                                                    class="w-full text-white bg-red-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
                                                >
                                                    Remove password request
                                                </button>
                                            </form>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <% if(isPrevious || isNext) { %>
                    <div class="custom-container">
                        <nav aria-label="Page navigation example">
                            <ul class="inline-flex -space-x-px text-base h-10">
                                <% if(isPrevious) { %>
                                <li>
                                    <a
                                        href="/users?q=<%= previousSkip %>"
                                        class="flex items-center justify-center px-4 h-10 ms-0 leading-tight text-gray-500 bg-white border border-e-0 border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
                                        >Previous</a
                                    >
                                </li>
                                <% } %>

                                <!-- prettier-ignore -->
                                <% if(isNext) { %>
                                <li>
                                    <a
                                        href="/users?q=<%= nextSkip %>"
                                        class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
                                        >Next</a
                                    >
                                </li>
                                <% } %>
                            </ul>
                        </nav>
                    </div>
                    <% } %>
                </div>
                <% }) %>
            </div>

            <div class="custom-container">
                <nav aria-label="Page navigation example">
                    <ul class="inline-flex -space-x-px text-base h-10">
                        <% if(isPrevious) { %>
                        <li>
                            <a
                                href="/password-requests?q=<%= previousSkip %>"
                                class="flex items-center justify-center px-4 h-10 ms-0 leading-tight text-gray-500 bg-white border border-e-0 border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
                                >Previous</a
                            >
                        </li>
                        <% } %>

                        <!-- prettier-ignore -->
                        <% if(isNext) { %>
                        <li>
                            <a
                                href="/password-requests?q=<%= nextSkip %>"
                                class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
                                >Next</a
                            >
                        </li>
                        <% } %>
                    </ul>
                </nav>
            </div>
        </main>
    </body>
</html>
