<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
    <body>
        <%- include('../partials/header.ejs', { userID: userID }) %>

        <main>
            <div class="mx-auto max-w-screen-lg px-4 py-8 sm:px-8">
                <div class="flex items-center justify-between pb-6">
                    <div>
                        <h2 class="font-semibold text-gray-700">
                            User Accounts
                        </h2>
                        <span class="text-xs text-gray-500"
                            >View accounts of registered users</span
                        >
                    </div>
                </div>
                <% if(users.length > 0) { %>
                <div class="overflow-y-hidden rounded-lg border">
                    <div class="overflow-x-auto">
                        <table class="w-full">
                            <thead>
                                <tr
                                    class="bg-blue-600 text-left text-xs font-semibold uppercase tracking-widest text-white"
                                >
                                    <th class="px-5 py-3">Full Name</th>
                                    <th class="px-5 py-3">Created at</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody class="text-gray-500">
                                <% users.forEach((user) => { %>
                                <tr>
                                    <td
                                        class="border-b border-gray-200 bg-white px-5 py-5 text-sm"
                                    >
                                        <div class="flex items-center">
                                            <div
                                                class="h-10 w-10 flex-shrink-0"
                                            >
                                                <img
                                                    class="h-full w-full rounded-full"
                                                    src="<%= user.profileImage %>"
                                                    alt=""
                                                />
                                            </div>
                                            <div class="ml-3">
                                                <p class="whitespace-no-wrap">
                                                    <%= user.username %>
                                                </p>
                                            </div>
                                        </div>
                                    </td>
                                    <td
                                        class="border-b border-gray-200 bg-white px-5 py-5 text-sm"
                                    >
                                        <p class="whitespace-no-wrap">
                                            <%= user.createdAt %>
                                        </p>
                                    </td>
                                    <% if(isAdmin) { %>
                                    <td
                                        class="grid justify-center items-center px-2 py-5"
                                    >
                                        <form
                                            method="POST"
                                            action="/users/delete-user"
                                            class="grid justify-center"
                                        >
                                            <input
                                                type="hidden"
                                                name="_csrf"
                                                value="<%= csrfToken %>"
                                            />
                                            <button
                                                title="Delete user"
                                                class="text-white"
                                                type="submit"
                                            >
                                                <img
                                                    class="delete-user"
                                                    src="/bin.png"
                                                />
                                            </button>
                                            <input
                                                type="hidden"
                                                name="userID"
                                                value="<%= user._id %>"
                                            />
                                        </form>
                                        <a
                                            class="text-xs underline inline-block my-4"
                                            href="/images/by-author/<%= user._id %>"
                                        >
                                            See images
                                        </a>
                                    </td>
                                    <% } %>
                                </tr>
                                <% }) %>
                            </tbody>
                        </table>
                    </div>
                    <div class="custom-container">
                        <nav aria-label="Page navigation example">
                            <ul class="inline-flex -space-x-px text-base h-10">
                                <% if(isPrevious) { %>
                                <li>
                                    <a
                                        href="/users?q=<%= previousSkip %>"
                                        class="flex items-center justify-center px-4 h-10 ms-0 leading-tight text-gray-500 bg-white border border-e-0 border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
                                        >Previous</a
                                    >
                                </li>
                                <% } %>

                                <!-- prettier-ignore -->
                                <% if(isNext) { %>
                                <li>
                                    <a
                                        href="/users?q=<%= nextSkip %>"
                                        class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
                                        >Next</a
                                    >
                                </li>
                                <% } %>
                            </ul>
                        </nav>
                    </div>
                </div>
                <% } else { %>
                <h1>
                    No users registered yet! <% if(isAdmin) { %>
                    <span>Except you!</span>
                    <% } %> <% } %>
                </h1>
            </div>
        </main>
    </body>
</html>
