<main class="custom-container">
    <% if(users.length > 0) { %>
    <h2 class="text-xl mb-4">Last 5 registered users</h2>
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <table
            class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
        >
            <thead
                class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
            >
                <tr>
                    <th scope="col" class="px-6 py-3">Username</th>
                </tr>
            </thead>
            <tbody>
                <% users.forEach((user) => { %>
                <tr
                    class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600"
                >
                    <th
                        scope="row"
                        class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
                    >
                        <div class="flex items-center">
                            <img width="30" src="<%= user.profileImage %>" />
                            &nbsp; <%= user.username %>
                        </div>
                    </th>
                </tr>
                <% }) %> <% } else { %>
                <h2>No registered users yet!</h2>
                <% } %>
            </tbody>
        </table>
    </div>

    <br />
    <% if(images.length > 0) { %>
    <h2 class="text-xl mb-4">Last 5 uploaded photos</h2>

    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <table
            class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
        >
            <thead
                class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
            >
                <tr>
                    <th scope="col" class="px-6 py-3">Photo</th>
                    <th scope="col" class="px-6 py-3">By username</th>
                </tr>
            </thead>
            <tbody>
                <!-- prettier-ignore -->
                <% images.forEach((image)=> { %>
                <tr
                    class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600"
                >
                    <th
                        scope="row"
                        class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
                    >
                        <a href="/images/<%= image._id %>">
                            <img
                                class="h-auto"
                                style="max-width: 4rem"
                                src="/<%= image.imageURL %>"
                            />
                        </a>
                    </th>
                    <td class="px-6 py-4"><%= image.userID.username %></td>
                </tr>
                <% }) %> <% } else { %>
                <h2>No uploaded photos yet!</h2>
                <% } %>
            </tbody>
        </table>
    </div>
</main>
